*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Alegreya Sans', sans-serif;
    background-color: #f3f1e9;
    color:#56534c;
    
}

h1, h2, h3, h4{
    font-family: 'Alegreya', serif;
}

/*GLOBAL CLASSES*/

.container{
    width: 90%;
    margin: auto;
}
.title-section{
    margin-bottom: 40px;
}
.title-section h2{
    color: #56534c;
    margin-bottom:10px
}
.title-section h4{
    color: #a47d5e
}
.parent{
    padding: 30px 0;
}

/* NAVBAR SECTION STYLE */
/* NAVBAR SECTION MOBILE SCREEN */
